// Стили для основной кнопки
button.primary {
    align-items: center;
    padding: 8px 10px;
    //height: 36px;
    border: 1px solid #1599D7;
    border-radius: 6px;
    color: #000;
    background-color:#fff;
    cursor: pointer;
}

button.primary:hover {
    background-color: #1478BE;
    color: #fff;
    border: 1px solid #1478BE;
}

button.primary:disabled {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.2);
    border-color: rgba(20, 120, 190, 0.5);
    cursor: not-allowed;
}

// Стили для кнопок с выбором периода времени
button.timePeriodButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    //padding: 8px 10px;
    min-width: 120px;
    background: #FFFFFF ;

    border: 1px solid #1599D7;
    border-radius: 6px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}

button.timePeriodButton:hover {
    border: 1px solid #1478BE;
    box-shadow: 0px 0px 4px rgba(119, 119, 119, 0.1);
    border-radius: 6px;
}

button.timePeriodButton:disabled {
    border: 1px solid;
    border-radius: 6px;
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.2);
    border-color: rgba(20, 120, 190, 0.5);
    box-shadow: 0 0 0 #fff;
}

button.timePeriodButtonActive {
    border-radius: 6px;
    background: #E1F3FF;
    border:none
}

// Стили для кнопки без границ
button.offBorders {
    border: none;
    background-color: inherit;
    font-weight: bolder;
    padding: 4px;
    color: #1599D7;
    cursor: pointer;

    svg{
        fill: #1599D7;
    }
}

button.offBorders:hover {
    color: #1478BE;

    svg{
        fill: #1478BE;
    }
}

button.offBorders:disabled {
    color: #777777;
    cursor: not-allowed;
}

// Стили для кнопки отмены
button.cancel {
    align-items: center;
    padding: 8px 10px;
    //height: 36px;
    border: 1px solid #A7B6CD;
    border-radius: 6px;
    color: #000;
    background-color:#fff;
    cursor: pointer;
}

button.cancel:hover {
    border: 1px solid #777777;
    background-color: #777777;
    color: #fff;
}
